In [1]:
def sumof_two_number(a, b):
  return a + b

sumof_two_number(5, 6)

11

In [2]:
def sumof_two_number(a, b, c):
  return a + b + c

sumof_two_number(5, 6, 5)

16

In [3]:
list=[3, 5, 1, 6, 99, 6]

min = list[0]

for number in list:
  if number < min:
    min = number

print(min)

1

In [4]:
list=[3, 5, 1, 6, 99, 6]

max = list[0]

for number in list:
  if number > max:
    max = number

print(max)

99